.header  {
height: 250px;
background-color: rgb(40, 40, 40);
color: white;
padding-left: 50px;
padding-top: 10px;
border: 1px solid wheat;
}

.links {
display: flex;
justify-content: end;
padding-right: 24PX;
padding-bottom: 20px;

}
h3 {
padding-right: 400px;
}
h2 {
border: solid;
height: 30px;
padding-left: 0px;
width: 240px;
padding-top: 50px;

padding-bottom: 40px;
}

.image-holder {
padding-left: 450px;
height: 60px;

}

p {
border: solid;
width: 300px;

   
}

* {
padding: 0;
margin: 0;
}
h1 {text-align: center;


}


.container > div {
border: solid  blue 1px;
height: 100px;
width: 100px;
}

.container {
display: flex;
gap: 30px;
justify-content: center;


}

.links {
display: flex;
gap: 12px;
}


.image-holder {
border: solid grey;

}

button {
    color: white;
background: blue;


}
